@use '../utils/' as *;

/*
============================
Name:  PICO - Personal Portfolio Templete
Version: 1.0.02
Description: PICO - Personal Portfolio Templete
Author: Vikiglab
Author URI: https://themeforest.net/user/vikinglab/portfolio
Location:
============================
*/

/*============= HEDAER CSS AREA STARTS ===============*/
/*============= HERO CSS AREA  STARTS ===============*/
/*============= MOBILE-MENU CSS AREA STARTS ===============*/
/*============= ABOUT CSS AREA STARTS ===============*/
/*============= SERVICE CSS AREA STARTS ===============*/
/*============= SKILLS CSS AREA STARTS ===============*/
/*============= FEATURES CSS AREA STARTS ===============*/
/*============= TESTIMONIAL CSS AREA STARTS ===============*/
/*============= BLOG CSS AREA STARTS ===============*/
/*============= CONTACT CSS AREA STARTS ===============*/
/*============= FOOTER CSS AREA STARTS ===============*/
/*============= OTHERS CSS AREA STARTS ===============*/
