@use '../../utils/' as * ;

/* ============= OTHERS AREA STARTS =============== */
// progress //
.progress-wrap {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 56px;
    width: 56px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    &:hover{
        background: var(--ztc-text-text-2);
        transform: translateY(-5px);
        box-shadow: 0 0 15px 0 var(--ztc-text-text-2);
        transition: all .4s;
    }
   }
   .progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
   }
   .progress-wrap::after {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f062";
    text-align: center;
    line-height: 56px;
    font-size: 18px;
    color: var(--ztc-text-text-2);
    left: 0;
    top: 0;
    height: 56px;
    width: 56px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
   }
   .progress-wrap:hover::after {
    opacity: 0;
   }
   .progress-wrap::before {
    position: absolute;
    font-family: "FontAwesome";
    content: "\f062";
    text-align: center;
    line-height: 56px;
    font-size: 18px;
    opacity: 0;
    left: 0;
    top: 0;
    height: 56px;
    width: 56px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
   }
   .progress-wrap:hover::before {
    opacity: 1;
   }
   .progress-wrap svg path {
    fill: none;
   }
   .progress-wrap svg.progress-circle path {
    stroke: var(--ztc-text-text-2);
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
   }
   .progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
   }



   .cursor {
    width: 30px;
    height: 30px;
    border: 1px solid var(--ztc-text-text-2);
    border-radius: 50%;
    position: absolute;
    z-index: 9999;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s  alternate;
    pointer-events: none;
}

.cursor::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 2px solid var(--ztc-text-text-2);
    border-radius: 50%;
    opacity: .5;
    top: 9PX;
    left: 9PX;
    animation: cursorAnim2 .5s  alternate;
    background: var(--ztc-text-text-2);
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid var(--ztc-text-text-2);
}

// preloader //
 $get-path-to-assets : 'https://d3jzqcajkfp32y.cloudfront.net/2017/v3';
 .flex {
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: center;
     position: fixed;
     top: 0px; 
     left: 0px;
     right: 0px;
     bottom: 0px;
     z-index: 100000000;   
 }
 
 .overlay {
  background-color: var(--ztc-text-text-3);
     
     .preloader  {
         .logo {
             animation-delay: 0.5s;
             display: block;
             width: 80px;
             margin: 0px auto;
             text-align: center;
             background: transparent url(../img/logo/logo1.png) no-repeat center center;
             background-size: contain;
             text-indent: -99999px;
             padding: 5px;
             &.fade-out {
                position: relative;
                animation-name: animation-8;
                animation-duration: 40s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: cubic-bezier(0.59, 0.59, 1, 1)
             }	
         }
         
     
     }
      
}
 
 .loader {
     position: relative;
     height: 200px;
     width: 200px;
 }

 .loader svg {
     position: absolute;
   top: 0%;
 }
 
 @keyframes animation-8 {
    0% {
      
      transform:rotate(0) ;
    }

    100% {
    
      transform: rotate(1000deg);
    }
}

.keyframe6 {
    position: relative;
    animation-name: animation-8;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.59, 0.59, 1, 1)
}
 
// preloader //
.homepage2-body{
    .cursor2 {
        width: 30px;
        height: 30px;
        border: 1px solid var(--ztc-text-text-9);
        border-radius: 50%;
        position: absolute;
        z-index: 9999;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        animation: cursorAnim .5s  alternate;
        pointer-events: none;
    }
    
    .cursor2::after {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        border: 2px solid var(--ztc-text-text-9);
        border-radius: 50%;
        opacity: .5;
        top: 9PX;
        left: 9PX;
        animation: cursorAnim2 .5s  alternate;
        background: var(--ztc-text-text-9);
    }
    
    @keyframes cursorAnim {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(.7);
        }
    }
    
    @keyframes cursorAnim2 {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(.4);
        }
    }
    
    @keyframes cursorAnim3 {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(3);
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }
    
    .expand {
        animation: cursorAnim3 .5s forwards;
        border: 1px solid var(--ztc-text-text-9);
    }

    .progress-wrap {
        position: fixed;
        right: 30px;
        bottom: 30px;
        height: 56px;
        width: 56px;
        cursor: pointer;
        display: block;
        border-radius: 50px;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
        z-index: 10000;
        opacity: 0;
        visibility: hidden;
        transform: translateY(15px);
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
        &:hover{
            background: var(--ztc-text-text-9);
            transform: translateY(-5px);
            box-shadow: 0 0 15px 0 var(--ztc-text-text-9);
            transition: all .4s;
            color: var(--ztc-text-text-1);
        }
       }
       .progress-wrap.active-progress {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
       }
       .progress-wrap::after {
        position: absolute;
        font-family: "FontAwesome";
        content: "\f062";
        text-align: center;
        line-height: 56px;
        font-size: 18px;
        color: var(--ztc-text-text-9);
        left: 0;
        top: 0;
        height: 56px;
        width: 56px;
        cursor: pointer;
        display: block;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
       }
       .progress-wrap:hover::after {
        opacity: 0;
       }
       .progress-wrap::before {
        position: absolute;
        font-family: "FontAwesome";
        content: "\f062";
        text-align: center;
        line-height: 56px;
        font-size: 18px;
        opacity: 0;
        left: 0;
        top: 0;
        height: 56px;
        width: 56px;
        cursor: pointer;
        display: block;
        z-index: 2;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
       }
       .progress-wrap:hover::before {
        opacity: 1;
       }
       .progress-wrap svg path {
        fill: none;
       }
       .progress-wrap svg.progress-circle path {
        stroke: var(--ztc-text-text-9);
        stroke-width: 4;
        box-sizing: border-box;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
       }
       .progress-wrap.active-progress {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
       }
    
       
// preloader //
 $get-path-to-assets : 'https://d3jzqcajkfp32y.cloudfront.net/2017/v3';
 .flex {
     display: flex;
     align-items: center;
     text-align: center;
     justify-content: center;
     position: fixed;
     top: 0px; 
     left: 0px;
     right: 0px;
     bottom: 0px;
     z-index: 100000000;   
 }
 
 .overlay {
  background-color: var(--ztc-text-text-3);
     
     .preloader  {
         .logo {
             animation-delay: 0.5s;
             display: block;
             width: 80px;
             margin: 0px auto;
             text-align: center;
             background: transparent url(../img/logo/logo3.png) no-repeat center center;
             background-size: contain;
             text-indent: -99999px;
             padding: 5px;
             &.fade-out {
                position: relative;
                animation-name: animation-8;
                animation-duration: 40s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: cubic-bezier(0.59, 0.59, 1, 1)
             }	
         }
         
     
     }
      
}
 
 .loader {
     position: relative;
     height: 200px;
     width: 200px;
 }

 .loader svg {
     position: absolute;
   top: 0%;
 }
 
 @keyframes animation-8 {
    0% {
      
      transform:rotate(0) ;
    }

    100% {
    
      transform: rotate(1000deg);
    }
}

.keyframe6 {
    position: relative;
    animation-name: animation-8;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.59, 0.59, 1, 1)
}
 
}
/* ============= OTHERS AREA ENDS =============== */